{% extends 'base.html' %}
 
{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" enctype="multipart/form-data"><!--enctype="multipart/form-data" обязательно для добавления файлов -->
    {% csrf_token %}
    <!--можно так, но без CSS  {{ form.as_p }} - это as_p -  формы из объекта form через абзац, можно as_ul; as_table -->

        <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Отправить</button></p>
</form>
{% endblock %}




